<div class="container text-left">
    <div class="row align-items-start">
      <div class="col">
        <h1>
            Contacto
        </h1>
      </div>
      <div class="col">
        <form action="">
            <!-- <label for="nombre ">
                Nombre: 
            </label> -->
            <input type="text" name="nombre" id="" placeholder="Escriba el nombre">
            <br>
            <br>
            <!-- <label for="Correo">
                Correo electrónico: 
            </label> -->
            <input type="email" name="correo" id="" placeholder="Escriba el correo">
            <br>
            <!-- <label for="mensaje">
                Mensaje: 
            </label> -->
            <br>
            <textarea name="mensaje" id="" cols="30" rows="10" placeholder="Escriba mensaje"></textarea>
        </form>
      </div>
      <div class="col"> 
        <figure><br><br>
            <img src="../../assets/images/contacto.png" alt="Misión" width="600px">
        </figure>
      </div>
    </div>
  </div>

