<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <h1>
            Misión
        </h1>
      </div>
      <div class="col"><br>
        Empresa de servicio dedicada a satisfacer las necesidades de compras o consultas de costos sobre partes, accesorios, equipos de cómputo o servicios de mantenimiento que el Cliente requiera, elevando así el rendimiento en sus equipos de cómputo de una manera rápida y cómoda.
      </div>
      <div class="col">
        <figure>
            <img src="../../assets/images/mision.png" alt="Misión">
        </figure>
      </div>
    </div>
  </div>
