<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <h1>
            Visión
        </h1>
      </div>
      <div class="col">
        Ser una Empresa Líder en el Mercado Regional, brindando servicios de compras o consultas de costos sobre partes, accesorios, equipos de cómputo o servicios de mantenimiento asistiendo personalmente en el menor tiempo posible a satisfacer las necesidades del cliente, dándole así atención personalizada y una supervisión constante de sus equipos.
      </div>
      <div class="col">
        <figure>
            <img src="../../assets/images/visión.png" alt="Visión">
        </figure>
      </div>
    </div>
  </div>
