<div class="container text-center">
    <div class="row align-items-start">
      <div class="col">
        <h1>
            Objetivos
        </h1>
      </div>
      <div class="col">
        <ul>
            <li>Que todos nuestros clientes queden satisfechos de nuestros servicios y nos tengan presentes como una empresa líder, responsable y de calidad.</li>
            <li>Brindar el mejor servicio en la venta de equipos de cómputo con los mejores precios del mercado computacional.</li>
            <li>Ser una empresa líder en la venta de equipos computacionales y brindar a nuestros clientes productos de la mejor calidad del mercado porque somos reconocidos hasta ahora como la mejor empresa en la venta de equipos de computo.</li>
        </ul>
      </div>
      <div class="col">
        <figure>
            <img src="../../assets/images/objetivos.png" width="300px" alt="Objetivos">
        </figure>
      </div>
    </div>
  </div>
