<div class="container text-left">
    <div class="row align-items-start">
      <div class="col">
        <h1>
            Product
        </h1>
      </div>
      <div class="col">
        <form action="" method="post">
            <table class="table">
                <tbody>
                  <tr>
                    <th scope="row">
                        <label for="">
                            id: 
                        </label>
                    </th>
                    <td>
                        <input type="number" name="id" id="">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                        <label for="nombrepro">
                            Nombre Producto: 
                        </label>
                    </th>
                    <td>
                        <input type="text" name="nombrepro" id="">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                        <label for="precio">
                            Precio: 
                        </label>
                    </th>
                    <td>
                        <input type="number" name="precio" id="">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                        <label for="">
                            Existencia: 
                        </label>
                    </th>
                    <td>
                        <input type="number" name="existencia" id="">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                        <label for="categoria">
                            Categoría: 
                        </label>
                    </th>
                    <td>
                        <input type="text" name="categoria" id="">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                        <label for="marca">
                            Marca: 
                        </label>
                    </th>
                    <td>
                        <input type="text" name="marca" id="">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                        <label for="descuento">
                            Descuento: 
                        </label>
                    </th>
                    <td>
                        <input type="number" name="descuento" id="">
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">
                        <label for="cantidadtotal">
                            Cantidad Total: 
                        </label>
                    </th>
                    <td>
                        <input type="number" name="cantidadtotal" id="">
                    </td>
                  </tr>
                </tbody>
              </table>
            <br>
            <br>
        </form>
      </div>
      <div class="col">
        <figure><br><br>
            <img src="../../assets/images/PRODUCT.png" alt="Misión" width="500px">
        </figure>
      </div>
    </div>
  </div>

